<form action="/stations/${_station.id}/addreading" method="POST" xmlns="http://www.w3.org/1999/html">
    <div class="columns">

        <div class="column is-one-third">
            <div class="field column">
                <label class="label">Code</label>
                <!--                Selector from Dermot Madsen-->
                <div class="control">
                    <div class="select is-fullwidth">
                        <select name="code">
                            <option>Select Code</option>
                            <option value="100">100</option>
                            <option value="200">200</option>
                            <option value="300">300</option>
                            <option value="400">400</option>
                            <option value="500">500</option>
                            <option value="600">600</option>
                            <option value="700">700</option>
                            <option value="800">800</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="field column">
                <label class="label">Temperature</label>
                <div class="control">
                    <input class="input" step="any" class="input" min="-50" max="50" placeholder="Temperature"
                           type="double" name="temperature">
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="field column">
                <label class="label">Wind Speed</label>
                <div class="control">
                    <input class="input" placeholder="Wind Speed" type="double" name="windSpeed">
                </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column is-one-third">
            <div class="field column">
                <label class="label">Wind Direction</label>
                <div class="control">
                    <input class="input" placeholder="Wind Direction" type="double" name="windDirection">
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="field column">
                <label class="label">Pressure</label>
                <div class="control">
                    <input class="input" placeholder="Pressure" type="double" name="pressure">
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="field mt-4">
        <div class="control">
            <button class="button is-dark">Submit Report</button>
        </div>
    </div>

</form>
